
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif ;
    font-size: 15px;
    background-color: hsl(0, 100%, 74%);
}
main{
    width: 100%;
    margin: auto;
    background-image: url(images/bg-intro-desktop.png);
    height: auto;
    box-sizing: border-box;
    position: relative;
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding: auto;

}
.register{
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 100px 100px;
    

}
.left{
    width: 50%;
    text-align: center;
}
form{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin: auto 10px;
}
input{
    margin: 10px;
    padding: 10px;
    border: 1px solid hsl(249, 10%, 26%);
}
button{
    padding: 10px;
    background-color: hsl(154, 59%, 51%);
    color: white;
    border: none;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}
h5{
    color:  hsl(246, 25%, 77%);
    text-align: center;
    padding: 0 30px;
    margin-top: 0;
}
a{
    color: red;
    text-decoration: none;
}
.info p{
    background-color: hsl(248, 32%, 49%);
    color: white;
    text-align: center;
    padding: 10px;
    width: 104%;
    border-radius: 5px;
}
.info strong{
    font-weight: 700;
}
h1{
    color: white;
    width: 50%;
    margin: 10px;
    text-align: left;
    font-family: 'Poppins', sans-serif ;
    font-weight: 700;
}
p{
    color: white;
    width: 100%;
    text-align: left;
    margin: 10px;
    padding-top: 10px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 300! important;
}
.right{
    margin-left: -100px;
}
input:invalid{
    padding: 25px;
    background: url(images/icon-error.svg);
    background-size: 20px;
    background-repeat: no-repeat;

}